<!DOCTYPE html>
<html>

    <head>

		<title>Guild Wars 2 Account Insights</title>
		<meta charset="utf-8">

		<!-- External scripts and stylesheets. -->
		<link rel="stylesheet" href="Libraries/bootstrap-3.3.7-dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="Styles/styles.css">
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="Libraries/d3.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="Libraries/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
		<script src="Libraries/legend.js"></script>
        <script src="Libraries/queue.v1.min.js"></script>
        <script src="Libraries/d3.tip.v0.6.3.js"></script>
        
        <script src="Scripts/general.js"></script>
        <script src="Scripts/barchart.js"></script>
        <script src="Scripts/sunburst.js"></script>
        <script src="Scripts/piecharts.js"></script>

        <script src="Scripts/dictionaries.js"></script>
        <script src="Scripts/prototypes.js"></script>

        <script src="Scripts/components.js"></script>
        <script src="Scripts/characterListHandler.js"></script>
        <script src="Scripts/dataTransformation.js"></script>
        <script src="Scripts/dataRetrieval.js"></script>

    </head>
    
    <script type="text/x-template" id="character-template">
        <div v-on:click="triggerSunburst" class="basic-container-items character-page-container">

            <p class="charname">{{ character.name }} </p>
            <p class="charlevel"> Level {{ character.level }} {{ character.race }}</p>
            
            <p class ="charprofession charpageprofession" :style="{ color: professionColor }">
                <img class="profimg" :src="professionImage">
                {{ professionName }}
            </p>
            
            <p class ="charage"> Played for {{ character.hoursPlayed }} hours </p>
            <p class ="charage"> {{ character.deaths }} deaths </p>
            <p class ="charage">{{ bestInSlot }} Best in Slot items</p>

            <svg v-bind:id="character.name" class="progressbar"></svg>
            {{ drawGearProgress(character.name) }}
        </div>
    </script>   





	<body class="standard-background">
        
        <!-- Error message span. -->
        <span class="error" id="error"></span>
        <img src="Static/Layout/header-pr.png" class="page-header">

        <!-- Nav bar -->
        <ul class="nav nav-pills nav-justified">
            <li class="active"><a data-toggle="tab" href="#home">Getting Started</a></li>
            <li><a data-toggle="tab" href="#menu0">Your Characters</a></li>
            <li><a data-toggle="tab" href="#menu1">Agony Resist and Gear</a></li>
            <li><a data-toggle="tab" href="#menu2">General Account Statistics</a></li>
            <!-- <li><a data-toggle="tab" href="#menu3">Fractal Dailes and Achievements</a></li> -->
        </ul>

        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">

              <!--- API KEY RETRIEVAL AND INFORMATION ---->
              <div class="flex-container flex-horizontal">
                
                <div class="basic-container dual-column">
                    <h2 class="divtitle"><img class="listimg" src="Static/accountname.png" alt="Achievements"> How does it work?</h2>
                    <br>
                    <br>
                    <p class="extratext">
                        Please insert your Guild Wars 2 API key to continue. Use the tabs at the top to explore different statistics.
                        Your key will need the following permissions to function: characters, wallet, account, builds and progression.
                        
                        <br>
                        <div>
                            <input type="text" id="apiKey" value="">
                            <button onclick="getUserApi()">Go!</button>
                        </div>
                        <br>
                        <p class="extratext">
                        Made using the official GW2 API. 
                        <br>
                        If you do not have an API key and just want to see how it looks, click OK without inserting anything, it will use mine.
                        <br>
                        <br>
                        Keep in mind that many consecutive submissions will cause it to throttle your requests: data might be incomplete. With normal usage, this should not be an issue.
                        Have fun! ♥
                        </p>
                    </p>
                </div>

              <div class="basic-container dual-column">
                    <h2 class="divtitle"><img class="listimg" src="Static/agonyresistance.png" alt="Achievements"> Goals</h2>
                    <br>
                    <br>
                  <p class="extratext">
                        The goal of these visualizations is to make the gear of your characters more easily visible. 
                        I have a lot of alts and alts and always face the problems that I would like to run Fractals of the Mists, but that I have no idea 
                        who has what already, has enough ascended pieces to even consider putting AR on, etc. At the time that I made the first steps toward 
                        creating this visualization, there was no easy way to quickly see how much AR a character had without logging in first. There still isn't 
                        though you can view it at GW2Efficiency. The bar chart provides an instant overview showing you who can run what level of fractals and with which characters you should probably not
                        venture inside Fractals of the Mists. 
                        <br>
                        <br>
                        In addition to this, I like to see which characters are fully geared and which still need stuff. With the sunburst you have a quick
                        overview of each character and the rarity of their gear. As a completionist, my ultimate goal is to fully gear all of them, though this
                        might of course take time! Perhaps it is of some use to you as well.
                        <br>
                        <br>
                        For a list of known bugs and planned features please see <a href="https://github.com/Vluuks/GW2Vis/issues"><i>the issues on GitHub</i></a>.
                </p>
              </div>

            </div>

        </div>


        <!--- TESTING FLEXBOX --> 
        <div id="menu0" class="tab-pane fade">

                <div id="charoverview-container" class="flex-container flex-horizontal">

                        <div id="character-filters" class="basic-container">
                            
                            
                            <h2 class="divtitle"><img class="listimg" src="Static/agony.png" alt="AR"> Filter</h2>
                            
                            <br>
                            <br>

                            <div id="filter-options-container">

                                <input id="search-input" v-model="search" type="text" placeholder="search"> 

                                <select id="sort-select" v-model="selected">
                                    <option value="none">None</option>
                                    <option value="name">Name</option>
                                    <option value="race">Race</option>
                                    <option value="profession">Base Profession</option>
                                    <option value="level">Level</option>
                                    <!-- <option value="age">Age</option> -->
                                    <option value="playtime">Playtime</option>
                                    <option value="deaths">Deaths</option>
                                    <option value="bispercentage">Best in Slot %</option>
                                </select>
                                
                                <ul class="profession-list">
                                        <li><input type="checkbox" id="necromancer" value="necromancer" v-model="checkedProfessions">
                                        <label for="necromancer"><img src="Static/Professions/necromancer.png">Necromancer</label></li>
                                        
                                        <li><input type="checkbox" id="mesmer" value="mesmer" v-model="checkedProfessions">
                                        <label for="mesmer"><img src="Static/Professions/mesmer.png">Mesmer</label></li>
                                        
                                        <li><input type="checkbox" id="elementalist" value="elementalist" v-model="checkedProfessions">
                                        <label for="elementalist"><img src="Static/Professions/elementalist.png">Elementalist</label></li>
    
                                        <li><input type="checkbox" id="thief" value="thief" v-model="checkedProfessions">
                                        <label for="thief"><img src="Static/Professions/thief.png">Thief</label></li>
                                        
                                        <li><input type="checkbox" id="ranger" value="ranger" v-model="checkedProfessions">
                                        <label for="ranger"><img src="Static/Professions/ranger.png">Ranger</label></li>
                                        
                                        <li><input type="checkbox" id="engineer" value="engineer" v-model="checkedProfessions">
                                        <label for="engineer"><img src="Static/Professions/engineer.png">Engineer</label></li>
    
                                        <li><input type="checkbox" id="warrior" value="warrior" v-model="checkedProfessions">
                                        <label for="warrior"><img src="Static/Professions/warrior.png">Warrior</label></li>
                                        
                                        <li><input type="checkbox" id="revenant" value="revenant" v-model="checkedProfessions">
                                        <label for="revenant"><img src="Static/Professions/revenant.png">Revenant</label></li>
                                        
                                        <li><input type="checkbox" id="guardian" value="guardian" v-model="checkedProfessions">
                                        <label for="guardian"><img src="Static/Professions/guardian.png">Guardian</label></li>
                                    </ul>
                                    
                            </div>
                        </div>

                        <!-- Holds character items. -->
                        <div id="character-list" class="flex-container-wrap flex-horizontal">
                            
                            <character 
                                v-for="(character, index) in filteredCharacters"
                                v-bind:key="index"
                                v-bind:character="character">
                            </character>

                        </div>
                                
                </div>

            </div>

            <!-- AGONY RESIST AND GEARCHECK -->
            <div id="menu1" class="tab-pane fade">


                <div id="gearcheck-container" class="flex-container flex-horizontal">
                
                    <div id="barchart-container" class="flex-container flex-vertical">

                        <!-- Barchart. -->
                        <div id="barchartpart" class="basic-container">
                            <h2 class="divtitle"><img class="listimg" src="Static/agony.png" alt="AR"> Agony Resistance (AR) per character</h2>
                            <br>
                            <br>
                            <img id="barchartloading" src="Static/spinner.gif" alt="Loading...">
                        </div>

                        <div id="tooltip-container" class="flex-container flex-horizontal">

                            <!-- Character info -->
                            <div id="characterinfopart" class="basic-container">
                                <h2 class="divtitle"><img class="listimg" src="Static/accountname.png" alt="Achievements"> Character information</h2>
                                <br>
                                <br>
                                <div id="sunburstextra"></div>
                            </div>

                            <!-- Tooltip area -->
                            <div id="tooltippart" class="basic-container">
                                <h2 class="divtitle"><img class="listimg" src="Static/agonyresistance.png" alt="Achievements"> Equipment Tooltip</h2>
                                <br>
                                <br>
                                <p id="tooltipcontent"></p>
                            </div>

                        </div>

                    </div>



                    <!-- Sunburst. -->
                    <div id="piechartpart" class="basic-container">
                        <h2 class="divtitle"><img class="listimg" src="Static/character.png" alt="Character Gear"> Character Equipment</h2>
                        <div id= "sunburstinnerwrapper">
                            <br>
                            <br>
                            <img id="sunburstloading" src="Static/spinner.gif" alt="Loading...">
                            <p id="sunburstwait">Select a character from the bar chart to see their gear.</p>

                        </div>
                    </div>


                    <!-- Sunburst. -->
                    <div id ="legendpart" class="basic-container">
                        <h2 class="divtitle"><img class="listimg" src="Static/character.png" alt="Character Gear"> Legend</h2>
                        <div> <img id="legend" src="Static/legend.png" alt="legend"></div>
                    </div>

                </div>
            </div>





            <!-- ACCOUNT STATISTICS -->
            <div id="menu2" class="tab-pane fade">
                <div id="generalstats-container" class="flex-container flex-horizontal">

                    <!-- General account info -->
                    <div id="accountpart" class="basic-container">
                        <h2 class="divtitle"><img class="listimg" src="Static/character.png" alt="Character Gear">Account info</h2>
                        <img id="accountloading" src="Static/spinner.gif" alt="Loading...">
                        
                        <br>
                        <ul id="account">
                            
                            <li id="accountName"><img class="listimg" src="Static/accountname.png" alt="Account Name"><p class="accinfo" id="accname">account name</p></li>
                            <li id="characterAmount"><img class="listimg" src="Static/charactersamount.png" alt="Characters"><p class="accinfo" id="chars">characters</p></li>
                            <li id="accountAge"><img class="listimg" src="Static/accountage.png" alt="Age"><p class="accinfo" id="accage">account age</p></li>
                            <br>
                            <br>
                            <li id="fractalRelics"><img class="listimg" src="Static/fractalrelic.png" alt="Age"><p class="accinfo" id="fractalrelics">relics</p></li>
                            <li id="fractalPristine"><img class="listimg" src="Static/pristinefractalrelic.png" alt="Age"><p class="accinfo" id="pristinerelics">pristine relics</p></li>
                            
                        </ul>
                    </div>

                    <!-- Piecharts -->
                    <div id ="actualpiechartpart" class="basic-container">
                        <h2 class="divtitle"><img class="listimg" src="Static/character.png" alt="Character Gear"> Character Distribution</h2>
                        <br>
                        <div id="piesvgpart"></div>
                    
                    </div>

                 </div>

                


            </div>

            <!--- FRACTAL ACHIEVEMENTS -->
            <!-- <div id="menu3" class="tab-pane fade"> -->

                <!-- Achievements. -->
                <!-- <div id="achievementpart"> -->
                    <!-- <h2 class="divtitle"><img class="listimg" src="Static/achievements.png" alt="Achievements"> Fractal Achievement overview</h2> -->
                
                <!-- </div> -->

            <!-- </div> -->

            <!-- SCATTERPLOT OF DOOM -->
            <!-- <div id="menu4" class="tab-pane fade in active">

                <h3>HIER KOMT DE SCATTERPLOT</h3>
                <p>lelijkheid 10/10</p>

            </div> -->

        </div> <!-- end of tab content -->

    </body>

</html>
