body{
    padding-top: 10px;
    padding-left: 20px;
	font-family: "Arial";
}
h2{
	float: top;
	float: left;
	font-family: "Arial";
	margin-bottom: 10px;
	margin-top: 4px;
	font-size: 13px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;

}
.nav-pills > li > a{
	border-radius: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #555555;
	font-size: 13px;
	
}
.nav-pills > li > a:hover{
	color: #000000;

}
.bartooltip {
	font-size: 12px;
}

#apiKey{
	width: 80% !important;
	margin-left: 5px;
}
#wrapperdiv{
	width: 100%;
	margin-top: 20px;
	background-color: #EEEEEE;
	margin-bottom: 20px
}
#wrapperdivfront{
	width: 100%;
	margin-top: 20px;
	background-color: #EEEEEE;
	margin-bottom: 20px
}
#wrapperdivaccount{
	width: 100%;
	margin-top: 20px;
	background-color: #EEEEEE;
	margin-bottom: 20px
}
#leftwrapper {
	padding: 0 auto;
	display: inline-block;
	height: 820px;
	width: 50%;
	overflow: hidden;
	margin-right: 0 auto;
	padding: 0 auto;
}
#rightwrapper {
	display: inline-block;
	width: 49%;
	float: top;
	height: 820px;
	overflow: hidden;
	margin-left: 0 auto;
	padding: 0 auto;
}

#account{
	padding: 10px;
	margin: 0px;
}
#accountpart{
	width: 30%;
	height: 250px;
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	margin-left: 10px;
	margin-left: 10px;
	margin-left: 0px;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#barchartpart{
	width: 98%;
	height: 450px;
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	margin-left: 10px;
	margin-left: 10px;
	margin-left: 0px;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#legendpart{
	width: 30%;

height: 800px;

margin: 10px;

margin-left: 0 auto;

display: inline-block;

padding: 10px;

float: top;

background-color: #DDDDDD;

box-shadow: 2px 2px 3px #EFEFEF;
}
#piechartpart{
	float: top;

	float: left;
	
	width: 65%;
	
	height: 800px;
	
	margin: 10px;
	
		margin-left: 10px;
	
	margin-left: 0;
	
	display: inline-block;
	
	padding: 10px;
	
	background-color: #DDDDDD;
	
	box-shadow: 2px 2px 3px #EFEFEF;
}
#actualpiechartpart{
	width: 67%;
	height: 450px;
	margin: 10px;
    margin-left: 20px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#achievementpart{
	width: 830px;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
	float: top;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#characterinfopart{
	width: 40.5%;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	margin-left: 0px;
	float: left;
    margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#tooltippart{
	width: 55%;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
    margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;

}
#intropart{
	width: 40%;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	margin-left: 0px;
	float: left;
    margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;

}
#intropartright{
	width: 58%;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	margin-left: 0px;
	float: left;
    margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;

}
#sunburstinnerwrapper{
    width: 90%;
    height: 120px;
}
#barchartsvg {
	width: 100%;
}

#error{
	margin-bottom: 20px;
	padding: 10px;
	color: #D8000C;
	background-color: #FFBABA;
}
#menu2{
	overflow-y: scroll;
	height: 510px;
}
#legend{
  display: inline-block;
	float: top !important;
	width: 100%;
	padding-left: 0px;
  margin: 0 auto;
}
.divtitle{
	background-color: 000000;
	outline: antiquewhite;
	outline-width: 3px;
}
.axis text{
    font: 11.4px "Arial";
    letter-spacing: 0.5px;
    text-anchor: end;
}
.axis path,
.axis line{
    fill: none;
    stroke: #00000070;
    shape-rendering: crispEdges;
}
.legend{
    font-family: "Arial";
    font-size: 11px;
}
.bar:hover{
    fill: "steelblue";
}
.accinfo{
    margin: 0;
}
.charname {
	font-weight: bold;
    font-size: 25px;
	margin: 0;
	padding-left: 5px;
}
.charprofession{
    font-size: 25px;
    margin: 0;
	margin-top: 5px;
}
.charage{
	padding-left: 5px;
  margin: 0;
	font-size: 13px;
}
.accinfo{
    font-size: 14px;
}
.sunbursttext{
  margin: 0 auto;
	font-size: 10px;
}
.tooltip{
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px Arial;
    background: #555555;
    border: #777777 1px solid;
    border-radius: 0px;
    pointer-events: none;
    color: white;
}
.itemname {
	font-size: 23px;
	margin-bottom: 0px;
	margin: 0;
	font-weight: bold;
}
.itemrarity {
	font-size: 20px;
    margin: 0;
}
.itemtype {
	font-size: 13px;
    margin: 0;
}
.itemagonyresist {
	font-size: 13px;
    margin: 0;
}
.menulist{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #999999;
}
a{
	color: black;
}
ul{
    list-style-type: none;
}
div ul li{
    margin: 5px;
}
img{
	vertical-align: top;
	padding-right: 5px;
}
div ul li p{
    display: inline-block;
    vertical-align: middle;
}
path{
    stroke: #DDDDDD;
}
.profimg{
    vertical-align: middle;
}
.extratext {
	font-size: 13px;
}
