body{
    padding-top: 10px;
    padding-left: 20px;
	font-family: "Arial";
}
h2{
  
	float: top;
	float: left;
	font-family: "Arial";
  margin-bottom: 10px;
	margin-top: 4px;
	font-size: 16px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;
	
}
.nav-pills > li > a{
	border-radius: 0px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #555555;
}
.nav-pills > li > a:hover{
	color: #000000;

}

#apiKey{
	width: 130px !important;
	margin-left: 5px;
}
#wrapperdiv{
	width: 1730px;
	margin-top: 20px;
	background-color: #EEEEEE;
    margin-bottom: 20px
}
#sidebar{
	width: 200px;
	height: 800px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	font-size: 12px;
	margin: 10px;
	margin-left: 20px;
	margin-bottom: 10px;
	float: left;
}
#account{
	padding: 10px;
	margin: 0px;
	
}
#barchartpart{
	width: 830px;
	height: 450px;
	display: inline-block;
	float: left;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#legendpart{
	width: 300px;
	height: 800px;
	margin: 10px;
    margin-left: 0 auto;
	display: inline-block;
	padding: 10px;
    float: top;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#piechartpart{
    float: top;
    float: left;
	width: 620px;
	height: 800px;
	margin: 10px;
    margin-left: 0 auto;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#actualpiechartpart{
	width: 1050px;
	height: 600px;
	margin: 10px;
    margin-left: 20px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#achievementpart{
	width: 830px;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
	float: top;
	box-shadow: 2px 2px 3px #EFEFEF;
}
#characterinfopart{
	width: 405px;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
  margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;
	
}
#tooltippart{
	width: 405px;
	height: 330px;
	display: inline-block;
	padding: 10px;
	background-color: #DDDDDD;
	margin: 10px;
	float: left;
  margin-right: 0 auto;
	box-shadow: 2px 2px 3px #EFEFEF;

}
#sunburstinnerwrapper{
    width: 600px;
	height: 120px;
}
#leftwrapper {
    padding: 0 auto;
    display: inline-block;
    height: 820px;
    width: 850px;
    overflow: hidden;
    margin-right: 0 auto;
    padding: 0 auto;
}
#rightwrapper {
    display: inline-block;
    width: 980px;
    float: top;
    height: 820px;
    overflow: hidden;
    margin-left: 0 auto;
    padding: 0 auto;
}
#error{
	margin-bottom: 20px;
	padding: 10px;
	color: #D8000C;
	background-color: #FFBABA;
}
#menu2{
	overflow-y: scroll;
	height: 510px;
}
.divtitle{
	background-color: 000000;
	outline: antiquewhite;
	outline-width: 3px;
}
.axis text{
  font: 12px "Arial";
}
.axis path,
.axis line{
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.legend{
    font-family: "Arial";
    font-size: 11px;
}
.bar:hover{
  fill: "steelblue";
}
.accountdiv{
    padding: 0;
    margin: 0;
}
.accinfo{
    margin: 0;
}
.charname{
    font-size: 20px;
    margin: 0;
}
.charprofession{
    font-size: 20px;
    margin: 0;
}
.charage{
    margin: 0;
}
.accinfo{
    font-size: 14px;
}
.sunbursttext{
    margin: 0 auto;
	font-size: 12px;
}
.tooltip{
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  font: 12px Arial;
  background: #555555;
  border: #777777 1px solid;
  border-radius: 0px;
  pointer-events: none;
  color: white;
}
.menulist{
	list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: black;
    background-color: #999999;
}
a{
	color: black;
}
ul{
    list-style-type: none;
}
div ul li{
    margin: 5px;
}    
img{
 
	vertical-align: top;
	padding-right: 5px;
}
div ul li p{
    display: inline-block;
    vertical-align: middle;
}
path{
    stroke: #DDDDDD;
}
#legend{
    display: inline-block;
    float: top !important; 
    margin: 0 auto;
}